@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

button:focus {
  outline: none;
}

.main-bg{
  background-image: url("/src/assets/dev_background.jpg");
  background-size: cover;
  background-position: center top;
}

.service-card {
  width: 20rem;
  height: 14rem;
  @media (min width: 640) {
    width: 100%;
  }
}

.counter-banner {
  background-image: url("/src/assets/dev_background.jpg");
  background-size: cover;
  background-position: center top;
}